*{
    margin: 0;
    padding: 0;

}
.image img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image{
    width: 100%;
    height: 100vh;
   position: fixed;
   z-index: -1;

}
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
/* Nabbar start */
   .navbar{
        position: relative;
        z-index: 2;
        color: white;
      }
      .navbar .container .flex{
          display: flex;
          justify-content: center;
      }
          .menu{
              padding-top: 30px;
          }
          .menu ul{
             list-style: none; 
          }
          .menu ul li{
              display: inline;
              padding: 20px 20px;
          }
          .menu ul li a{
              text-decoration: none;
              color: white;
              font-size: 20px;
              font-weight: 500;
          }
          .menu ul li a:hover{
              color: #55deff;
          }
          
   
    
    /* Nabbar end */
    
    /* form start */
    .head{
        
    }
    
    .head .flex1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all form{
    
    }
    .head .all{
        position: absolute;
        backdrop-filter: blur(20px);
        box-shadow: 5px 8px 10px 5px rgb(0 0 0 / 21%);
        width: 450px;
        color: white;
        background: transparent;
        border: 2px solid rgb(255, 255, 255, .2);
        top: 52%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px 30px 30px 30px;
    }
    .head .all h1{
    font-size: 36px ;
    font-weight: 800;
    text-align: center;
    
    } 
    .all .input-box{
        width: 100%;
        height: 50px;
        margin: 20px 0;
        position: relative;
        align-items: center;
    }
    .all .input-box input{
        width: 90%;
        height: 20%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgb(243, 243, 243);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        padding: 20px 20px;
        box-shadow: 0 0 10 gray;
    }
    
    .all .input-box input::placeholder{
        color: #fff;
        
    }
    .check{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin: -10px 0 10px ;
    }
    .check label input{
        accent-color: #fff;
        margin-right: 4px;
    }
    .check a{
        text-decoration: none;
        color: #fff;
    }
    .check a:hover{
        color: rgb(72, 212, 255);
    }
    .btn{
        width: 100%;
        background-color: #fff;
        border: none;
        padding: 10px 0;
        font-size: 20px;
        margin: 16px 0;
        border-radius: 20px;
        color: #030e30;
        font-weight: 600;
        font-size: 22px;
        transition: 0.4s;
    }
    
    .btn:hover{
        background-color: #5b9abd;
        color: #fff;
        transition: 0.5s;
    
    }
    
    .register{
        font-size: 20px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;

    }
    
    .register a{
        text-decoration: none;
        color: #fff;
        font-weight: 500;
    }
    .register a:hover{
       color: #1a97da;
    }
    /* Form End */